header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 8rem;
    width: 100%;
}

header > h1 {
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);
    line-height: 2.125rem;

    color: var(--color-grey-1);

}

header > .container__ilumination--mode {
    display: flex;
    justify-content: center;
    align-self: center;

    height: 2.25rem;
    width: 2.25rem;

    background-color: var(--color-grey-8);
    border-radius: .35rem;
    border: none;
}

header > .container__ilumination--mode > .button__ilumination--mode {
    display: flex;
    justify-content: center;
    align-self: center;

    height: 1.25rem;
    width: 1.25rem;
}