.container__albumsFound {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;

    height: 20rem;
    width: 100%;
}

.container__albumsFound > h3 {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: 1.21rem;
}

.container__albumsFound > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 22rem;
    width: 100%;

    list-style: none;

    gap: 1.5625rem;
}

.container__albumsFound > li {
    height: 9.375rem;
    width: 19.375rem;
}