.container__albumsFound {
    display: flex;
    flex-direction: column;

    margin-top: 7rem;

    height: 20rem;
    width: 100%;
}

.container__albumsFound > h3 {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: 1.21rem;
}

.container__albumsFound > .container__albumsFound--Ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 40rem;
    width: 100%;

    list-style: none;

    gap: 2rem;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums {
    height: 17rem;
    width: 20rem;

    margin-top: 3.5rem;

    background-color: var(--color-grey-8);
    border-radius: .25rem;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum {
    display: flex;
    flex-direction: column;

    height: 19rem;
    width: 100%;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divImg {
    height: 7rem;
    width: 100%;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divImg > .imgAlbum {
    height: 7.0625rem;
    width: 100%;

    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divBandYear {
    display: flex;
    justify-content: flex-start;
    
    height: 2.5rem;
    width: 100%;
    
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divBandYear > .bandAlbum, .yearAlbum {
    font-size: var(--font-4);
    font-weight: var(--font-weight-3);

    color: var(--color-grey-2);
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divTitle {
    display: flex;
    justify-content: flex-start;
    
    height: 3rem;
    width: 100%;
    
    margin-top: 0rem;
    margin-left: 1rem;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divTitle > .titleAlbum {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);

    color: var(--color-grey-1);
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divPriceBtn {
    display: flex;
    justify-content: space-between;
    
    height: 2.5rem;
    width: 100%;
    
    margin-top: 1rem;
    margin-left: 1rem;
}

.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divPriceBtn > .priceAlbum {
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    
    color: var(--color-grey-1);
}


.container__albumsFound > .container__albumsFound--Ul > .licardAlbums > .divAlbum > .divPriceBtn > .btnAlbum {

}
