.container__musicGenre {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;

    height: 13rem;
    width: 100%;
}

.container__musicGenre > h3 {
    align-self: flex-start;

    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: 1.21rem;
}

.container__musicGenre > .container__musicGenre--Ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 10rem;
    width: 100%;

    list-style: none;

    gap: 1rem;
}

.container__musicGenre > .container__musicGenre--Ul > .licard {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 5rem;

    margin-top: 1.5rem;
}

.container__musicGenre > .container__musicGenre--Ul > .licard > .btnGenreMusic {
    height: 2rem;
    width: 4.5rem;

    padding: 0.5rem;
    border-radius: var(--radius-1);
    border: none;

    font-size: var(--font-3);
    font-weight: var(--font-weight-2);
    line-height: 1.21rem;

    background-color: var(--color-grey-8);
}

.container__musicGenre > .container__musicGenre--Ul > .licard > .btnGenreMusic:hover {
    color: var(--color-grey-8);
    background-color: var(--color-grey-1);
}

.container__musicGenre > .container__musicGenre--Ul > .licard > .btnGenreMusic:focus {
    color: var(--color-grey-8);
    background-color: var(--color-grey-1);
}