.container__setPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 2rem;

    height: 6rem;
    width: 100%;
}

.container__setPrice--info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 3rem;
    width: 100%;
}

.container__setPrice > .container__setPrice--info > h3 {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: 1.21rem;
}

.container__setPrice > .container__setPrice--info > label {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: 1.21rem;
}

.container__setPrice > .setPrice {
    -webkit-appearance: none;
    appearance: none;

    height: .5rem;
    width: 100%;

    background-color: var(--color-grey-2);
}

.container__setPrice > .setPrice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    height: 1.5rem;
    width: 1.5rem;

    border-radius: 5%;
    border: 0.35rem solid var(--color-grey-1);

    background-color: var(--color-grey-9);

    cursor: pointer;
}